<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   ExportOptions.plist
   Runner

   Created by Oscar Tigreros on 26/05/21.
   Copyright (c) 2021 . All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>method</key>
        <string>ad-hoc</string>
        <key>teamID</key>
        <string>3YHY6MND72</string>
        <string>development</string>
        <key>uploadBitcode</key>
        <true/>
        <key>compileBitcode</key>
        <true/>
        <key>uploadSymbols</key>
        <true/>
        <key>signingStyle</key>
        <string>manual</string>
        <key>signingCertificate</key>
        <string>Apple Development: Oscar Tigreros</string>
        <key>provisioningProfiles</key>
        <dict>
            <key>com.otigreros.blissTest2</key>
            <string>match Development com.otigreros.blissTest2</string>
        </dict>
    </dict>
</plist>
